.innerContainer {
  width: 100%;
  max-height: 500px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 90%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 90%;
  max-height: 90%;
  background: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: auto;
  padding: 20px;
}

.tableHeader {
  min-height: 40px;
  min-width: 40vw;
  width: calc(100% - 150px);
  background: #26264f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
  h3 {
    font-size: 150%;
    color: #f4f8fd;
    margin: 10px;
    font-family: 'Josefin Sans';
  }
}

.MaininfoText {
  font-family: 'Josefin Sans';
  font-size: 20px;
  color: #f4f8fd;
  // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  margin: auto;
}

.dataRow {
  display: flex;
}

.tableBody {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  overflow-y: auto;
  height: 400px;

  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 18px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 18px;
    opacity: 0.8;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(132, 132, 139);
    border-radius: 18px;
    border: 2px solid rgba(255, 255, 255, 0.9);
  }

  .dataContainer {
    height: 50px;
    width: calc(100% - 140px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #8a84aa;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

    .dataNode {
      font-family: 'Josefin Sans';
      font-size: 16px;
      color: #f4f8fd;
      // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
    }
  }
  .EditContainer {
    height: 50px;
    width: 50px;
    background: #8a84aa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    padding: 10px;
    .innerIcons {
      height: 100px;
      width: 100px;
    }
  }
  .ArchiveContainer {
    height: 50px;
    width: 50px;
    background: #8a84aa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;

    .innerIcons {
      height: 100px;
      width: 100px;
    }
  }
}
.p-button:hover {
  background-color: red($color: #bf3a3a) !important;
  .innerIcons {
    background-color: red($color: #bf3a3a) !important;
    color: red($color: #000000);
  }
}
