.p-button {
  height: 30px;
  width: 12vw;
  font-family: 'Josefin Sans';
  font-size: 15px;
  color: white;
  background: #8a84aa;
  border-radius: 10px;
  border: 1px;
  border-color: #8a84aa;
}
.p-dialog .p-dialog-content {
  background-color: black;
}
